<?xml version="1.0"?>
<launch>
  <arg name="map" default="$(find tmc_potential_maps)/maps/white_space/map.yaml" />
  <arg name="world_name" />
  <arg name="robot_pos" default="-x 0 -y 0 -z 0 -Y 0" />
  <arg name="use_laser_odom" default="false" />

  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" >
    <arg name="map" value="$(arg map)" />
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="robot_pos" value="$(arg robot_pos)" />
    <arg name="use_laser_odom" value="$(arg use_laser_odom)" />
  </include>
</launch>
