<launch>
    <arg name="run_object_finder" default="true"/>
    <arg name="run_nav_fix" default="true"/>
    <arg name="run_path_planner" default="true"/>

    <node pkg="suturo_navigation_fix" name="suturo_navigation_fix" type="nav_fix.py" output="screen"
        if="$(eval run_nav_fix == true)"/>

    <group if="$(eval arg('run_object_finder') == true)">
        <node pkg="object_finder" type="object_finder" name="object_finder">
            <rosparam file="$(find object_finder)/params/costmap_params.yaml" command="load" ns="costmap"/>
        </node>
    </group>

    <group if="$(eval arg('run_path_planner') == true)">
        <node pkg="global_planner" type="planner" name="planner">
            <remap from="/plan" to="/suturo_plan"/>
            <param name="allow_unknown" value="false"/>
            <rosparam file="$(find suturo_navigation_launch)/config/costmap_params.yaml" command="load" ns="costmap"/>
        </node>
    </group>
</launch>
