<launch>
  <arg name="map_file" default="$(find maps)/hsr_lab/map.yaml"/>
  <arg name="run_obstacle_finder" default="true"/>
  <arg name="run_nav_fix" default="true"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <include file="$(find snap_map_icp)/launch/snap_map_icp.launch" />

  <node pkg="suturo_navigation_fix" name="suturo_navigation_fix" type="nav_fix.py" output="screen" 
		if="$(eval run_nav_fix == true)"/>

  <node pkg="obstacle_finder" name="obstacle_finder" type="obstacle_finder.py" output="screen"
		if="$(eval run_obstacle_finder == true)"/>

  <node name="tf_buffer" pkg="tf2_ros" type="buffer_server" />

</launch>
